@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;500;600&family=Unbounded:wght@600;700;800&display=swap");

@theme {
  --breakpoint-sm: 360px;
  --breakpoint-md: 758px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1440px;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #060606;
  color: white;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-family: "Unbounded", sans-serif;
}

#card1{
  top: 55%;
  left: 40%;
}

#card2{
  top: 25%;
  left: 40%;
}
#card3{
  top: 55%;
  left: 60%;
}
#card4{
  top: 25%;
  left: 80%;
}
#card5{
  top: 55%;
  left: 100%;
}
