@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&family=Inter:wght@300;400;600&display=swap");

@theme {
  --breakpoint-sm: 360px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1440px;
}

body {
  font-family: "Inter", sans-serif;
  background-color: black;
  color: white;
}

h1,
h2,
h3 {
  font-family: "Cormorant Garamond", serif;
}
